---
layout: default
title: mei_stro
---

<div class="container-fluid">
	<div class="row fh5co-post-entry">
		<!-- Posts! -->
		{% for post_item in site.posts %}
			<article class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col-xxs-12 animate-box">
				<figure>
					<a href="{{post_item.url}}">
						<img src="{{post_item.img_path}}" alt="Image" class="img-responsive"></a>
				</figure>
				<h2 class="fh5co-article-title">
					<a href="{{post_item.url}}">{{post_item.project_name}}</a>
				</h2>
				<span class="fh5co-meta fh5co-date">{{post_item.date | date: "%B, %Y"}}</span>
				<ul class="fh5co-social">
					{% if post_item.github_link %}
						<li><a href="{{post_item.github_link}}" target="_blank"><i class="icon-github-with-circle"></i></a></li>
					{% endif %}
					{% if post_item.report_link %}
						<li><a href="{{post_item.report_link}}" target="_blank"><i class="icon-text-document"></i></a></li>
					{% endif %}
				</ul>
			</article>
		{% endfor %}
		<div class="clearfix visible-xs-block"></div>
	</div>
</div>