<!-- HEADING -->
<header id="fh5co-header">
    <div class="container-fluid">
        <div class="row">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <!-- The Actual Heading -->
            <div class="col-lg-12 col-md-12 text-center">
                <h1 id="fh5co-logo"><a href="https://charlie-mei.github.io/">mei_stro<sup><small>TM</small></sup></a></h1>
                <p>A collection of data-related projects to solve real world problems</p>
            </div>
        </div>
    </div>

</header>
<!-- END #fh5co-header -->