<div id="fh5co-offcanvas">
    <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas"><span><i class="icon-cross3"></i> <span>Close</span></span></a>
    <div class="fh5co-bio">
        <figure>
            <img src="/assets/portrait.jpeg" alt="My Portrait" class="img-responsive">
        </figure>
        <h3 class="heading">---</h3>
        <h2>Charlie Mei</h2>
        <p>strategy analytics / product developer / cu '21 / uom '16</p>
        <ul class="fh5co-social">
            <li><a href="https://www.linkedin.com/in/charlie-mei/" target="_blank"><i class="icon-linkedin"></i></a></li>
            <li><a href="https://github.com/Charlie-Mei" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="mailto:charlie.mei@outlook.com" target="_blank"><i class="icon-email"></i></a></li>
        </ul>
        <h3 class="heading">---</h3>
    </div>

    <div class="fh5co-menu">
        <div class="fh5co-box">
            <h3 class="heading">ABOUT</h3>
            I am a data professional who understands how to make strategic recommendations through data.
            <br>
            <br>
            Currently, I work at Rakuten where I advise financial clients on running affiliate marketing campaigns.
            <br>
            <br>
            <a href="/about/Charlie_Resume.pdf" target="_blank">Resume</a>
        </div>
    </div>

</div>
<!-- END #fh5co-offcanvas -->